h1{
  color: red;
}
.gridContainer{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9jKCQ3VI-HNOw08cm1w3t96Ydfhqfndmtww&s");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 1fr);
}

.gridBox{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    object-fit: contain;
    //height: 80%;
    width: 50%;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
#bird{
  //height: 100%;
  //width: 100%;
  //overflow: hidden;

}
